.alb-content{
  background-image: url(../images/fondo-login.jpg);
}

.alb-login{
  width: 90%;
  padding: 15px;
  margin:45% auto 25px auto;
  border-radius:5px;  
  background: white;
  display: none;
}

.btn-ingresar{
  border-radius: 20px;
  height: 40px;
  background-color: #9d62c8;
}

.btn-registrar{
  width: 36%;
  margin: 10px auto 0 auto;
  text-decoration: underline;
  color: #9d62c8;
}

.btn-entrar{
  border-radius: 5px;
  height: 40px;
  width: 90%;
  position: absolute;
  top: 80%;
  background-color: #9d62c8;
}

.btn-alb{
   border-radius: 5px;
  height: 40px;
  background-color: #9d62c8;
}